@font-face {
  font-family: 'axiforma';
  font-style: normal;
  font-weight: $regular;
  font-display: swap;
  src: url('../fonts/kastelov_-_axiforma_regular-webfont.woff2') format('woff2'),
       url('../fonts/kastelov_-_axiforma_regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'axiforma';
  font-style: normal;
  font-weight: $semibold;
  font-display: swap;
  src: url('../fonts/kastelov_-_axiforma_semibold-webfont.woff2') format('woff2'),
       url('../fonts/kastelov_-_axiforma_semibold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'axiforma';
  font-style: normal;
  font-weight: $black;
  font-display: swap;
  src: url('../fonts/kastelov_-_axiforma_black-webfont.woff2') format('woff2'),
       url('../fonts/kastelov_-_axiforma_black-webfont.woff') format('woff');
}