.hero {

	margin-bottom: 90px;
	
	.swiper-container {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.slider-content {
		max-width: 1270px;
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		position: absolute;
		z-index: 1;
		text-align: left;
	}

	.image-slider-container {
		padding-bottom: 40.10%;
		width: 100%;
		height: 0;
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
	}

	.image-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.slider-title {
		font-size: 50px;
		font-weight: $black;
		max-width: 580px;
		text-align: left;
	}

	.button-player {
		margin-top: 60px;
	}
}