.login-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-box {
	border-radius: 10px;
	background-color: #fff;
	padding: 40px;
	text-align: center;
	margin-top: 25px;

	.text-small {
		font-size: 14px;
		display: block;
		margin:15px 0 30px;

		&:last-child {
			margin: 20px 0 0;
		}
	}

	&__title {
		font-weight: $black;
		font-size: 32px;
		text-align: center;
		margin: 0;
	}

	.form-control {
		margin-bottom: 15px;
	}

	button.btn-primary {
		display: block;
		width: 100%;
		border-radius: 10px;
	}
}