//Font weight
$regular: 400;
$semibold: 600;
$black: 800;


//Color
$primary-color-900: #fb527b;
$primary-color-800: #fb6287;
$primary-color-700: #fb7495;
$primary-color-600: #fc85a2;
$primary-color-500: #fda8bc;
$primary-color-400: #fecad7;
$primary-color-300: #fedce4;
$primary-color-200: #ffedf1;
$primary-color-100: #fff6f8;
$primary-color-000: #fff9fb;

$secondary-color-900: #009ec4;
$secondary-color-800: #fb6287;
$secondary-color-700: #fb7495;
$secondary-color-600: #fc85a2;
$secondary-color-500: #fda8bc;
$secondary-color-400: #fecad7;
$secondary-color-300: #fedce4;
$secondary-color-200: #ffedf1;
$secondary-color-100: #fff6f8;
$secondary-color-000: #fff9fb;

$grey-900: #212529;
$grey-800: #343a40;
$grey-700: #495057;
$grey-600: #868e96;
$grey-500: #adb5bd;
$grey-400: #ced4da;
$grey-300: #dee2e6;
$grey-200: #e9ecef;
$grey-100: #f1f3f5;
$grey-000: #f8f9fa;