@import './components/variables';
@import './components/font';
@import './components/forms';
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/login';

@media (min-width: 1200px) {
    .container {
        max-width: 1270px;
    }
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'axiforma', sans-serif;
    font-weight: $regular;
    color: #212529;
    background-color: #F7FAFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2.title-section {
	font-size: 32px;
	font-weight: $black;
	color: $grey-900;
}

h3.title-section {
	font-size: 20px;
	font-weight: $semibold;
	margin: 70px 0 40px;
}

.description-section {
	color: $grey-500;
	font-size: 16px;
	margin-top: 20px;
}

.search-box {
	background-color: #fff;
	padding: 50px;

	.search-box__title {
		font-size: 28px;
		font-weight: $black;
		margin-bottom: 15px;
	}

	form {
		position: relative;
		
		.eva {
			position: absolute;
			right: 15px;
			top: 7px;
		}
	}
}

.filter-line {
	width: 100%;
	overflow: hidden;


	.filter-line__wrapper {
		display: flex;
		overflow-x: scroll;
		align-items: center;

		.btn {
			display: block;
			margin-left: 10px;
			font-size: 16px;
			white-space: nowrap;

			&:first-child {
				margin-left: 0;
			}

			&.btn-outline-primary--active {
				background-color: #0d6efd;
				color: #fff;
			}
		} 
	}
}

.list-card {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin-left: -15px;

	&__item {
		flex: 0 0 25%;
		padding: 0 15px;
		margin-bottom: 30px;
	}
}

.card-travel {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 20px;
	display: block;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(166,174,186,0.1); 
	box-shadow: 5px 5px 20px 0px rgba(166,174,186,0.1);

	
	font-size: 16px;
	font-weight: $black;
	text-decoration: none;
	color: $grey-900;

	span {
		position: relative;
		display: block;
		padding-bottom: 10px;
		
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 70px;
			height: 4px;
			background-color: #366ABA;
			border-radius: 100px;
		}
	}

	&:hover {
		background-color: #366ABA;
		color: #fff;

		span {
			&:before {
				background-color: #fff;
			}
		}
	}

}

.hero-travel {
	background-color: #DEF1FE;

	.hero-travel__wrapper {
		position: relative;
		padding: 150px 0;
	}


	h1.hero-travel__title {
		font-size: 60px;
		font-weight: $black;
		max-width: 570px;
	}

	.hero-travel__image {
		position: absolute;
		right: 0;
		bottom: -190px;
		border-radius: 10px;
	}

}

.avatar {
	display: flex;
	align-items: center;
	margin-top: 65px;
	margin-bottom: 150px;

	.avatar__content {
		display: block;
		margin-left: 30px;

		.avatar__name {
			font-weight: $semibold;
			font-size: 18px;
			display: block;
		}

		.avatar__job {
			font-size: 14px;
			color: $grey-500;
			display: block;
		}
	}
}

.dash-section {
	padding: 80px 0;

	.return {
		display: inline-block;
		margin-bottom: 20px;
		margin-left: -5px;

		.eva {
			width: 30px;
			height: 30px;
		}
	}
}

.list-menu-dash {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-top: 80px;

	&__item {
		flex: 0 0 50%;
		padding: 0 15px 30px;
	}

	&__link {
		display: block;
		text-align: center;
		padding: 20px;
		font-size: 18px;
		font-weight: $black;
		color: $grey-900;
		text-decoration: none;
		background-color: #fff;
		border-radius: 10px;
		-webkit-box-shadow: 5px 5px 20px 0px rgba(166,174,186,0.1); 
		box-shadow: 5px 5px 20px 0px rgba(166,174,186,0.1);

		&:hover {
			background-color: #366ABA;
			color: #fff;
		}

	}
}

.table-box {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(166,174,186,0.1); 
	box-shadow: 5px 5px 20px 0px rgba(166,174,186,0.1);


	.btn.btn-success {
		font-size: 18px;
		font-weight: $semibold;
		color: #fff;
		background-color: #4CAF50;
		border-radius: 150px;
		border: none;
		padding: 8px 30px;

		&:hover {
			background-color: #439D47;
		}
	}

	.table-box-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;

		&__header {
			flex: 0 0 100%;
			display: flex;
			padding: 20px;

			span {
				display: block;
				font-size: 18px;
				font-weight: $semibold;
			}

			.item-id {
				flex: 0 0 10%;
			}
			.item-title {
				flex: 0 0 60%;
			}
			.item-title-slider {
				flex: 0 0 80%;
			}
			.item-author {
				flex: 0 0 20%;
			}
			.item-action {
				flex: 0 0 10%;
				text-align: right;
			}
			.item-user {
				flex: 0 0 45%;
			}
			.item-email {
				flex: 0 0 35%;
			}
		}

		&__body {
			display: bock;
			width: 100%;
		}

		&__body-row {
			flex: 0 0 100%;
			display: flex;
			padding: 15px 20px;
			align-items: center;

			&:nth-child(2n){
				background-color: #F5F5F5;
			}

			.item-id {
				flex: 0 0 10%;
			}
			.item-title {
				flex: 0 0 60%;
			}
			.item-title-slider {
				flex: 0 0 80%;
			}
			.item-author {
				flex: 0 0 20%;
			}
			.item-user {
				flex: 0 0 45%;
			}
			.item-email {
				flex: 0 0 35%;
			}

			.item-action {
				flex: 0 0 10%;
				display: flex;
				justify-content: space-between;

				.btn {
					padding: 2px;
					display: block;
					line-height: inherit;
				}

				.eva {
					width: 20px;
					height: 20px;
					fill: #366ABA;
				}
			}
		}
	}

}




